/* Upload button */
.uploadButtonWrapper {
  width: 100%;
  display: flex;
}

.uploadButtonWrapper label {
  flex-grow: 2;
}

.signButton {
  margin-left: 1rem;
  flex-basis: 69.5px;
  flex-shrink: 0;
}

.sign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fileInput {
  display: none;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.uploadButton:hover {
  border: 1px solid black;
}

/* Uploaded elements */

.uploadedWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 3%;
}

.uploadedElement {
  flex-basis: 48%;
}

.uploadedElement button {
  min-width: 0;
}
