.fileInput {
  display: none;
}

.fileLabel {
  display: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.fileLabel:hover {
  border: 1px solid black;
}

.uploaded {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.uploadedElement {
  color: rgb(161, 195, 74);
}

.upload {
  width: 100%;
  display: flex;
}

.upload label {
  flex-grow: 2;
}

.sign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
