.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}

.response {
  display: flex;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
