node_modules/
webapp/.next/
webapp/out/
venv/
server/__pycache__/
.next/

webapp/cypress/videos
webapp/cypress/screenshots

.python-version
.vscode

.DS_store

.env

# An input folder for files to test the CLI-generator and the resulting output
input
output.pdf