.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  padding: 30px 0;
  font-size: 4em;
  text-align: center;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    font-size: 40px;
  }
}

.logo {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.circle {
  background: #e90000;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.35em;
}

.link {
  position: absolute;
  right: 0;
  padding: 10px 20px;
}
