.fileInput {
  display: none;
}

.fileLabel {
  border: 1px dotted black;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
}

.uploaded {
  color: rgb(161, 195, 74);
}
