.container {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 40px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
}

.submit {
  padding: 20px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  width: 90%;
  cursor: pointer;
}

.feedback {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.info {
  padding: 25px;
  margin: 0 25px;
  border: 1px dotted black;
  border-radius: 5px;
}
