html,
body {
  margin-top: 5rem;
  font-family: Inter, sans-serif;
  background: #eae9e8;
}

.ReactModalPortal {
  height: 0 !important;
}

input {
  border-radius: 5px;
  padding: 6px;
  font-size: 1.2em;
  margin: 10px;
}
