@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
  font-family: Inter, sans-serif;
}

.ReactModalPortal {
  height: 0 !important;
}

@media screen and (max-width: 500px) {
  body {
    margin: 1rem 0;
    padding-top: 0;
  }
}
