@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 1rem;
  font-family: Inter, sans-serif;
}

.ReactModalPortal {
  height: 0 !important;
}

@media screen and (max-width: 500px) {
  html,
  body {
    margin: 1rem 0;
  }
}
